rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que qualquer usuario autenticado leia os perfis e que o proprio usuario crie/atualize o seu
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Permite leitura e escrita de feedbacks se o usuario estiver autenticado
    match /feedbacks/{feedbackId} {
      allow read, write: if request.auth != null;
    }
    
    // Permite leitura e escrita da agenda se o usuario estiver autenticado
    match /agenda/{agendaId} {
      allow read, write: if request.auth != null;
    }
    
    // Permite leitura e escrita de resultados do DISC
    match /discResults/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
